body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dee3fd;
}

header{
    background-color: #9cabff;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1rem;
    text-align: center;
}

footer{
    background-color: #9cabff;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align:center;
}

footer li {
    list-style: none;
}

ul img{
    padding:10px;
}

.logo{
    text-align: center;
}

nav{
    background-color: rgb(133,152,255);
    padding: 1rem;
}

nav ul{
    display: flex;
    text-align: center;
}

nav li{
    list-style: none;
    padding: 0.5rem;
}

.mark{
    text-decoration: none;
    font-size: xx-large;
}

li a{
    font-weight: bold;
    text-decoration: none;
    font-size: x-large;
    transition: color 0.2s;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
}

li a:hover{
    background-color: #5376c1;
}

.editorial{
    width: 55vw;
    margin: auto;
    padding: 0.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    display: flex;
    flex-direction:row;
    align-items: center;
}

.img{
    display:flex;
    border: 0.5rem solid #DB5F6E;
}

table{
    border-radius: 10px;
    border: 5px solid #DB5F6E;
    width: 500px;
    padding: 3px;
    margin: 60px;
    background-color: #ffffff;
}

th{
    border:none;
}

td{
    text-align: center;
}

td a{
    text-decoration:solid;
    font-weight: bold;
    color: #F68395;
}

td a:hover{
    color: #5376C1;
}

.editorial h3{
    padding:60px;
}

.editorial p{
    margin: auto;
}

footer ul li a{
    color:#ffffff;
    font-size:medium;
}

footer ul li a:hover{
    background-color: #5376c1;
}


.cotidiano{
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 60%;
    border:  4px solid #DB5F6E;
    border-radius: 16px;
    padding: 16px;
}

.cot{
    padding: 10px;
}