body{
    margin: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dee3fd;
}

header{
    background-color: #9cabff;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 1rem;
    text-align: center;
}

footer{
    background-color: #9cabff;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align:center;
    margin-top: 4rem;
}

footer li {
    list-style: none;
}

nav{
    background-color: rgb(133,152,255);
    padding: 1rem;
}

nav ul{
    display: flex;
    text-align: center;
}

nav li{
    list-style: none;
    padding: 0.5rem;
}

li a{
    font-weight: bold;
    text-decoration: none;
    font-size: x-large;
    transition: color 0.2s;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
}

li a:hover{
    background-color: #5376c1;
}

.lei1{
    text-align: center;
    color: rgb(133,152,255);
}

.paragrafo1{
        margin: auto;
        margin-top: 16px;
        margin-bottom: 16px;
        width: 60%;
        border:  4px solid #DB5F6E;
        border-radius: 16px;
        padding: 16px;
}

.lei2{
    text-align: center;
    color: rgb(133,152,255);
}

.paragrafo2{
        margin: auto;
        margin-top: 16px;
        margin-bottom: 16px;
        width: 60%;
        border: 4px solid #DB5F6E;
        border-radius: 16px;
        padding: 16px;
        margin-bottom: 2.5%;
}

.ref{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 30px;
    margin-top: 4rem;
    color: rgb(133,152,255);
}

.site{
    padding: 8px;
    align-items: center;
    margin: auto;
    width: 15%;
    margin-top: 10px;
}
.video{
    padding: 8px;
    align-items: center;
    margin: auto;
    width: 15%;
}
button{
    background-color: #DB5F6E;
    height: 60px;
    width: 200px;
    border: 0;
    border-radius: 10px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
 
button:hover {
    transform: scale(1.1);
}

button#equal {
    height: 130px;
}

th{
    border:none;
}

td{
    text-align: center;
}

footer ul li a{
    margin-top: 5px;
    color:#fff;
    font-size:medium;
}

footer ul li a:hover{
    background-color: #5376c1;
}
